<?xml version="1.0"?>

<launch>
  <arg name="uri" default="radio://0/80/2M" />
  <arg name="joy_dev" default="/dev/input/js0" />
  
  <arg name="x" default="2" />
  <arg name="y" default="2" />
  <arg name="z" default="0.5" />

  <include file="$(find crazyflie_driver)/launch/crazyflie_server.launch">
  </include>

  <group ns="crazyflie">
    <!--<param name="crazyflie/pid_rate/yaw_kp" value="200"/>-->
    <include file="$(find crazyflie_driver)/launch/crazyflie_add.launch">
      <arg name="uri" value="$(arg uri)" />
      <arg name="tf_prefix" value="crazyflie" />
      <arg name="enable_logging" value="True" />
    </include>

  

  	

    <node name="log" pkg="loc_project" type="test_log.py" output="screen">
    </node>
    
 

  </group>
</launch>
